
body {
   
    background-color: rgb(42, 52, 75);
    font-family: "Jameel Noori Nastaleeq", sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}
header {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(235, 235, 241, 0.8);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}
nav {
    background-color: rgba(72, 72, 187, 0.8);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h1{
    background-color: royalblue;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 36px;
    margin-bottom: 15px;
    border: 3px solid rgb(72, 72, 187);
    border-radius: 8px;
    padding: 10px;}
 h4, h6 {
    color: white;
    border: 3px solid blue;
    display: inline-block;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 8px;
}

p {
    color: white;          
    font-size: 18px;                   
    line-height: 1.6;                  
    margin: 15px 0;                    
    text-align: right;                 
    padding: 20px;                     
    border-radius: 12px;               
    border: 2px solid blue;
    text-indent: 20px;                 
    word-spacing: 2px;                 
    letter-spacing: 1px;               
}

ul {
    color: rgb(255, 255, 255);
    font-size: 18px;
    list-style-type: square;
    padding-left: 25px;
}

a {
    color: rgb(12, 12, 16);
    font-weight: bold;
    font-size: 18px;
}
a:hover {
    color: rgb(72, 72, 187);
    text-decoration: underline;
}

button {
    background-color: rgb(63, 63, 181);
    color: white;
    border: dotted 2px rgb(72, 187, 103);
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    font-family: "Jameel Noori Nastaleeq", sans-serif;
    border-radius: 10px;
}
button:hover {
    background-color: rgb(199, 116, 65);
    border-color: rgb(22, 22, 230);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 2px solid rgb(72, 72, 187);
    border-radius: 10px;
}
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(238, 238, 245, 0.8);
    color: rgb(129, 129, 230);
    border-radius: 8px;
}
footer p {
    margin: 0;
    font-size: 14px;
    color: rgb(8, 8, 79);

}
