body{
    background-color: rgb(220, 185, 140);
    font-family: "Jameel Noori Nastaleeq", sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}
h1, h6 {
    color: rgb(63, 63, 181);
    border: 3px solid rgb(72, 72, 187);
    width: 100px;
    padding: 10px;
    text-align: center;
}
p {
    color: rgb(3, 146, 3);
    font-size: 18px;

}
a {
    color: rgb(12, 12, 16);
    text-decoration: none;

}
button {
    background-color: rgb(63, 63, 181);
    color: white;
    border: dotted 2px rgb(72, 187, 103);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}